*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{
background:#f1f5f9;
}


.topbar{
background:#7c2d12;
color:white;
padding:35px;
text-align:center;
}


.topbar h1{
font-size:36px;
}


.topbar p{
margin-top:10px;
color:#fed7aa;
}


.main,.result-page{
min-height:85vh;
display:flex;
justify-content:center;
align-items:center;
padding:40px;
}


.evaluation-card,.report{
background:white;
width:700px;
padding:40px;
border-radius:18px;
box-shadow:0 10px 30px rgba(0,0,0,.12);
}


h2{
color:#7c2d12;
}


.desc{
color:#777;
margin:10px 0 25px;
}


label{
display:block;
font-weight:600;
margin-top:15px;
}


input{
width:100%;
padding:12px;
margin-top:7px;
border:1px solid #ddd;
border-radius:8px;
}


.score-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}


button{
margin-top:30px;
width:100%;
padding:14px;
background:#7c2d12;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}


button:hover{
background:#9a3412;
}


.report-header{
background:#7c2d12;
color:white;
padding:30px;
border-radius:12px;
}


.report-header h1{
color:white;
}


.employee{
padding:25px 0;
border-bottom:1px solid #ddd;
}


.scores{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
margin:30px 0;
}


.scores div{
background:#fff7ed;
padding:20px;
text-align:center;
border-radius:10px;
}


.scores h4{
color:#7c2d12;
}


.final{
text-align:center;
background:#ffedd5;
padding:25px;
border-radius:12px;
}


.final h1{
font-size:45px;
color:#7c2d12;
margin:10px;
}


.report a{
display:block;
margin-top:25px;
background:#7c2d12;
color:white;
text-align:center;
padding:13px;
text-decoration:none;
border-radius:8px;
}


.error{
background:#fee2e2;
color:#991b1b;
padding:20px;
border-radius:10px;
}


@media(max-width:700px){

.score-grid,.scores{
grid-template-columns:1fr;
}

.evaluation-card,.report{
width:100%;
}

}