*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{
background:#eef2f7;
}


.page{
min-height:100vh;
display:flex;
}


.side-panel{
width:35%;
background:#172554;
color:white;
padding:70px 50px;
display:flex;
flex-direction:column;
justify-content:center;
}


.side-panel h1{
font-size:40px;
margin-bottom:20px;
}


.side-panel p{
font-size:18px;
line-height:1.6;
color:#dbeafe;
}


.line{
width:80px;
height:4px;
background:#60a5fa;
margin:25px 0;
}



.form-section{
width:65%;
display:flex;
align-items:center;
justify-content:center;
}


.card{
background:white;
width:650px;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.12);
}


.card h2{
color:#172554;
font-size:30px;
}


.sub{
color:#777;
margin:10px 0 30px;
}


.row{
display:flex;
gap:20px;
}


.row div{
width:50%;
}


label{
display:block;
font-weight:600;
margin-top:15px;
}


input,select{
width:100%;
padding:13px;
margin-top:7px;
border:1px solid #ddd;
border-radius:8px;
}


button{
width:100%;
margin-top:30px;
padding:15px;
border:none;
background:#172554;
color:white;
border-radius:8px;
font-size:16px;
cursor:pointer;
}


button:hover{
background:#1e40af;
}



.profile-page{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#eef2f7;
}


.profile-card{
width:700px;
background:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,.15);
}


.profile-header{
background:#172554;
color:white;
padding:35px;
}


.profile-header h1{
font-size:32px;
}


.details{
display:flex;
padding:35px;
gap:30px;
}


.section{
width:50%;
}


.section h3{
color:#172554;
margin-bottom:20px;
}


.section p{
margin:12px 0;
}


.profile-card a{
display:block;
margin:20px 35px 35px;
padding:12px;
text-align:center;
background:#172554;
color:white;
text-decoration:none;
border-radius:8px;
}


.error{
background:#fee2e2;
color:#991b1b;
padding:20px;
border-radius:10px;
font-size:18px;
}


@media(max-width:900px){

.page{
flex-direction:column;
}

.side-panel,.form-section{
width:100%;
}

.row,.details{
flex-direction:column;
}

.row div,.section{
width:100%;
}

}*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{
background:#eef2f7;
}


.page{
min-height:100vh;
display:flex;
}


.side-panel{
width:35%;
background:#172554;
color:white;
padding:70px 50px;
display:flex;
flex-direction:column;
justify-content:center;
}


.side-panel h1{
font-size:40px;
margin-bottom:20px;
}


.side-panel p{
font-size:18px;
line-height:1.6;
color:#dbeafe;
}


.line{
width:80px;
height:4px;
background:#60a5fa;
margin:25px 0;
}



.form-section{
width:65%;
display:flex;
align-items:center;
justify-content:center;
}


.card{
background:white;
width:650px;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.12);
}


.card h2{
color:#172554;
font-size:30px;
}


.sub{
color:#777;
margin:10px 0 30px;
}


.row{
display:flex;
gap:20px;
}


.row div{
width:50%;
}


label{
display:block;
font-weight:600;
margin-top:15px;
}


input,select{
width:100%;
padding:13px;
margin-top:7px;
border:1px solid #ddd;
border-radius:8px;
}


button{
width:100%;
margin-top:30px;
padding:15px;
border:none;
background:#172554;
color:white;
border-radius:8px;
font-size:16px;
cursor:pointer;
}


button:hover{
background:#1e40af;
}



.profile-page{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#eef2f7;
}


.profile-card{
width:700px;
background:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,.15);
}


.profile-header{
background:#172554;
color:white;
padding:35px;
}


.profile-header h1{
font-size:32px;
}


.details{
display:flex;
padding:35px;
gap:30px;
}


.section{
width:50%;
}


.section h3{
color:#172554;
margin-bottom:20px;
}


.section p{
margin:12px 0;
}


.profile-card a{
display:block;
margin:20px 35px 35px;
padding:12px;
text-align:center;
background:#172554;
color:white;
text-decoration:none;
border-radius:8px;
}


.error{
background:#fee2e2;
color:#991b1b;
padding:20px;
border-radius:10px;
font-size:18px;
}


@media(max-width:900px){

.page{
flex-direction:column;
}

.side-panel,.form-section{
width:100%;
}

.row,.details{
flex-direction:column;
}

.row div,.section{
width:100%;
}

}